<div class="banner">
  <h1>Sunshine Heroes</h1>
</div>
<p>
  Dear <%= @user.name %>,
</p>
<p>
  Your password has been reset to the following <%= @password %>. Use this password to regain accces to your account.
</p>
<%= link_to "Log Back In!", @url %>
