<h1 style="color:red !important">Warning!</h1>
<p style="color:red !important">This application is still in the final stages of development. I will be doing some testing. Please don't enter any data within the next couple of days. There might be a slight chance that data entered into the application within the next couple of days will be compromised. I will notify you once everything is thouroughly tested and ready for production. Thank you for your understanding. - Miguel</p>
<h1>Help Spread Holiday Cheer!</h1>
<%= image_tag "https://s3-us-west-2.amazonaws.com/subforsantaresources/christmasTree.jpg", width:"100%" %>
<p>Donate to struggling families in this community and help make their holiday wishes come true.</p>
<%= link_to "Get Started!", new_user_registration_path, class:"waves-effect waves-light btn"%>
