<h1>Help Spread Holiday Cheer!</h1>
<%= image_tag "https://s3-us-west-2.amazonaws.com/subforsantaresources/christmasTree.jpg", width:"100%" %>
<p>Donate to struggling families in this community and help make their holiday wishes come true.</p>
<%= link_to "Get Started!", new_user_registration_path, class:"waves-effect waves-light btn"%>
