<footer class="page-footer yellow darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sub For Santa</h5>
        <p class="grey-text text-lighten-4">3585 N University Ave, Suite 325
Provo, Utah 84604</p>
        <p class="grey-text text-lighten-4">info@spreadsunshine.org</p>
        <p class="grey-text text-lighten-4">801-377-1423</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/admin">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Sunshine Heroes
    <a class="grey-text text-lighten-4 right" href="https://www.spreadsunshine.org/">Visit Sunshine Heroes</a>
    </div>
  </div>
</footer>
